.DS_Store
*.pyc
*.egg-info
*.swp
tags
lms/docs/current
lms/public/dist
__pycache__/
*.py[cod]
*$py.class
node_modules
package-lock.json
lms/public/frontend
lms/www/lms.html
lms/www/_lms.html
/frappe-ui
frappe-semgrep-rules



# ---------------
#   OVERSIDE
.env
docker/.env
common_site_config.json
frontend/yarn-error.log
.idea


/graphify-out/cache
lms/lms/print_format/certificato_salessciensae/

*.tsv

UAT_studente_semplificato.md

docs/uat/Funzionalita studente.md

docs/uat/

UAT_gestore_semplificato.md

UAT_valutatore_semplificato.md
