@import './variables.css';

body {
	background-color: var(--color-company-secondary);
}

/* ═══ LAYOUT PAGE ═══ */

.sidebar-menu {
	border-right: 1px solid var(--outline-gray-1);
	background-color: var(--color-sidebar-menu);
	z-index: 2;
	position: relative;
}

.main-page-header {
	background-color: var(--color-sidebar-menu);
	border-bottom: 1px solid var(--outline-gray-1);
}

.app-content-main {
	background: transparent;
	position: relative;
	z-index: 2;
}

.bg-gradient-overlay {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	left: 0rem;
	width: 60vw;
	height: 100%;
	background: linear-gradient(to right, #0a2e5a, #1d5a9b);
	z-index: 1;
}

div[role='tablist'] .bg-surface-gray-7 {
	background: var(--ink-gray-9);
}

/* ═══ CARDS ═══ */

.card {
	background-color: var(--surface-card);
	border: 1px solid var(--outline-gray-1);
	border-radius: 0.5rem;
}

[role='radiogroup'] {
	border: 1px solid var(--outline-gray-1);
	border-radius: 0.625rem;
}

/* ═══ FORM ELEMENTS ═══ */
input:where([type='text']),
input:where([type='email']),
input:where([type='password']),
input:where([type='number']),
input:where([type='search']),
input:where([type='url']),
input:where([type='tel']),
textarea,
select,
.form-control {
	background-color: var(--color-company-primary);
	border: 1px solid var(--ink-gray-9);
	border-radius: 0.5rem;
	color: var(--ink-gray-9);
	padding: 1rem 0.75rem;
}

input:where([type='text']):focus,
input:where([type='email']):focus,
input:where([type='password']):focus,
input:where([type='number']):focus,
input:where([type='search']):focus,
input:where([type='url']):focus,
input:where([type='tel']):focus,
textarea:focus,
select:focus,
.form-control:focus {
	outline: 0px;
	border-color: #fff;
	box-shadow: none;
}

input:where([type='radio']):checked,
input:where([type='radio']):checked:hover,
input:where([type='radio']):checked:focus {
	border-color: var(--color-company-primary);
	background-color: var(--color-company-primary);
}
input::placeholder,
textarea::placeholder {
	color: var(--ink-gray-5);
	opacity: 1;
}

/* replace tailwind style input/combo */
.link-component button.py-1\.5,
input.py-1\.5 {
	padding-top: var(--form-padding-y) !important;
	padding-bottom: var(--form-padding-y) !important;
}
.link-component button.bg-surface-gray-2,
.values-container.bg-surface-gray-2,
textarea.bg-surface-gray-2,
.component-text-editor .bg-surface-gray-2,
input.bg-surface-gray-2 {
	background-color: var(--color-company-primary) !important;
}
.link-component button.border-\[--surface-gray-2\],
.values-container.border-\[--surface-gray-2\],
textarea.border-\[--surface-gray-2\],
input.border-\[--surface-gray-2\] {
	border: 1px solid var(--ink-gray-8) !important;
}
.link-component button.focus\:ring-0:focus,
.values-container.focus\:ring-0:focus,
input.focus\:ring-0:focus {
	background-color: var(--color-company-primary) !important;
}

.values-container input {
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}

label.block {
	color: #fff;
	font-size: 13px;
}

/* date input icon */
input[type='date']::-webkit-calendar-picker-indicator {
	filter: invert(1);
}
/* time */
input[type='time']::-webkit-calendar-picker-indicator {
	filter: invert(1);
}

/* autocomplete */
.autocomplete-dialog-input input {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.autocomplete-dialog-input input:hover {
	background-color: var(--color-company-primary);
	border: 1px solid var(--ink-gray-9);
}

/* switch active */
.component-switch button.bg-surface-gray-7 {
	background: var(--ink-gray-9);
}
.component-switch button.bg-surface-gray-4 {
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Text editor */
.component-text-editor .border-outline-gray-modals {
	border-color: var(--ink-gray-8);
}
.component-text-editor .ProseMirror {
	border: 1px solid var(--ink-gray-8);
	border-top: 0px;
}

.small-form .link-component button.py-1\.5,
.small-form input.py-1\.5 {
	padding-top: var(--form-padding-small-y) !important;
	padding-bottom: var(--form-padding-small-y) !important;
}

::selection,
#editor ::selection,
#instructor-content ::selection {
	background: var(--surface-gray-1);
	color: #ffffff;
}

::-moz-selection,
#editor ::-moz-selection,
#instructor-content ::-moz-selection {
	background: var(--surface-gray-1);
	color: #ffffff;
}

input:disabled {
	background-color: var(--color-company-primary);
	opacity: 1;
	cursor: default;
}
/* ═══ EDITOR ═══ */

.codex-editor .ce-toolbar__actions svg:not(.ce-popover-item__icon svg) path {
	stroke: #fff;
}

.codex-editor .ce-toolbar__plus:hover,
.ce-toolbar__settings-btn:hover {
	background-color: var(--color-company-primary);
	border: 1px solid var(--outline-gray-modals);
	border-radius: 8px;
}

.ce-toolbar__actions.ce-toolbar__actions--opened {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 8px;
}

.ce-toolbar__actions--opened {
	margin-right: 5px;
}

.ce-inline-toolbar,
.ce-conversion-toolbar {
	background-color: var(--surface-gray-3);
	border-color: var(--surface-gray-3);
}
.ce-inline-tool:hover,
.ce-inline-toolbar__dropdown:hover {
	background-color: var(--surface-gray-1);
	border-radius: 4px;
}
.ce-inline-toolbar__toggler-and-button-wrapper svg {
	fill: black;
}

.codex-editor .ce-conversion-tool__icon svg {
	fill: black;
}
.codex-editor .ce-conversion-tool__icon svg line {
	stroke: black;
}
.codex-editor .ce-conversion-tool__icon path {
	stroke: black;
}

.ProseMirror ::selection,
.ProseMirror *::selection,
.ce-paragraph::selection,
.ce-paragraph *::selection,
.cdx-block::selection,
.cdx-block *::selection {
	background: var(--surface-gray-1);
	color: #ffffff;
}

.ProseMirror ::-moz-selection,
.ProseMirror *::-moz-selection,
.ce-paragraph::-moz-selection,
.ce-paragraph *::-moz-selection {
	background: var(--surface-gray-1);
	color: #ffffff;
}

/* List header */
.os-list-view > div:first-of-type {
	margin-bottom: 0px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
/* List rows */
.os-list-view > div:nth-of-type(2) {
	background-color: var(--color-company-primary);
	border-bottom-left-radius: 0.5rem !important;
	border-bottom-right-radius: 0.5rem !important;
}

/* ═══ SETTINGS MODAL ═══ */

#settings-modal ::selection {
	background: var(--surface-gray-2);
	color: #ffffff;
}

#settings-modal ::-moz-selection {
	background: var(--surface-gray-2);
	color: #ffffff;
}

/* SCROLBAR */
/* larghezza scrollbar */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* sfondo barra */
::-webkit-scrollbar-track {
	background: #e5e7eb;
	border-radius: 999px;
}

/* cursore della barra */
::-webkit-scrollbar-thumb {
	background: #143350;
	border-radius: 999px;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
	background: #256ab0;
}

/* IFRAME */

.os-frame {
	height: 650px;
}
