body {
}

.card {
	background-color: var(--surface-card);
	border: 1px solid var(--outline-gray-1);
	border-radius: 0.5rem;
	padding: 1rem;
}

/* List header */
.os-list-view > div:first-of-type {
	background-color: var(--surface-gray-2);
	margin-bottom: 0px;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
/* List rows */
.os-list-view > div:nth-of-type(2) {
	background-color: var(--color-company-primary);
	border-bottom-left-radius: 0.5rem !important;
	border-bottom-right-radius: 0.5rem !important;
}

/* Inputs */
input[type='text'],
input[type='email'],
input[type='password'] {
	background-color: var(--surface-gray-2);
}

textarea {
	background-color: var(--surface-gray-2) !important;
}

.ProseMirror {
	background-color: var(--surface-gray-2) !important;
}
.ProseMirror-wrapper div div:nth-child(1) {
	background-color: var(--surface-gray-2) !important;
}
.OS-LinkWrapper div div div div {
	background-color: var(--surface-gray-2);
}

/* SCROLBAR */
/* larghezza scrollbar */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* sfondo barra */
::-webkit-scrollbar-track {
	background: var(--ink-gray-8);
	border-radius: 999px;
}

/* cursore della barra */
::-webkit-scrollbar-thumb {
	background: var(--surface-gray-2);
	border-radius: 999px;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--surface-gray-7);
}

/* IFRAME */

.os-frame {
	height: 100vh;
}

#scrollContainer {
	overflow-x: hidden;
}

/* PROSE EDITOR */

.ce-inline-toolbar,
.ce-conversion-toolbar {
	background-color: var(--surface-gray-3);
	border-color: var(--surface-gray-3);
}
.ce-inline-tool:hover,
.ce-inline-toolbar__dropdown:hover {
	background-color: var(--surface-gray-1);
	border-radius: 4px;
}
.ce-inline-toolbar__toggler-and-button-wrapper svg {
	fill: var(--ink-gray-10);
}
